QMainWindow{
	background-color: #727272;
}

QWidget #Axial_Widget{
	background: black; 
	/*
	padding: 50px;
	border-radius: 20px;
	*/

}

QWidget #Sagittal_Widget{
	background: black; 
	/*padding: 50px;
	border-radius: 20px;*/ 
}

QWidget #Coronal_Widget{
	background: black; 
	/*
	padding: 50px;
	border-radius: 20px; 
	*/
}

QToolBar {
	background: rgb(30, 30, 30);
}

QLabel {
	font-size: 15px;
	font-weight: 400;
	color:#000000;
}

#Axial_Slice{
	font-size: 15px;
	font-weight: 400;
	color:black;
}

#Sagittal_Slice{
	font-size: 15px;
	font-weight: 400;
	color:black;
}

#Coronal_Slice{
	font-size: 15px;
	font-weight: 400;
	color:black;
}

#Dir_Status{
	background-color: #727272;
	color: black;
	font-size: 13px;
	font-weight: 400;
	padding-left: 5px;
}

#Axial_Full{
	background-color: #727272;
	color: black;
	font-size: 13px;
	font-weight: 400;
}

#Axial_Full:hover{
            background: rgba(170, 170, 170, 0.3);
            opacity: 0.5;
            font-size:11px;
        }

#Sagittal_Full{
	background-color: #727272;
	color: black;
	font-size: 13px;
	font-weight: 400;
	padding-left: 5px;
}

#Sagittal_Full:hover{
            background: rgba(170, 170, 170, 0.3);
            opacity: 0.5;
            font-size:11px;
        }

#Coronal_Full{
	background-color: #727272;
	color: black;
	font-size: 13px;
	font-weight: 400;
	padding-left: 5px;
}

#Coronal_Full:hover{
            background: rgba(170, 170, 170, 0.3);
            opacity: 0.5;
            font-size:11px;
        }

#_3D_Full{
	background-color: #727272;
	color: black;
	font-size: 13px;
	font-weight: 400;
	padding-left: 5px;
}

#_3D_Full:hover{
            background: rgba(170, 170, 170, 0.3);
            opacity: 0.5;
            font-size:11px;
        }